<h1>Raum {{raumname}}</h1>
<button mat-fab color="primary" (click)="deleteClicked()">
  <mat-icon>delete</mat-icon>
</button>
<div>
    <label for="component">Komponente:</label>
    <select #component>
      <option value="temperature">Temperature</option>
      <option value="light">Light</option>
      <option value="lightRGB">RGB-Light</option>
      <option value="lock">Lock</option>
      <option value="servo">Servo</option>
      <option value="fan">Fan</option>
    </select>
    <br>
    <label for="device_id">Device ID:</label>
    <input type="text" #device_id>
    <label for="name">Gerätename:</label>
    <input type="text" #name>
    <button (click)="addComponent(component.value, device_id.value, name.value)">Hinzufügen</button>
  </div>

  <!-- Kontainer in dem die Generierten Objekte Angeizeigt werden -->
  <div #container></div>