/* Design Raum Div */
#divRoom {
	padding: 25px;
	background: rgba(128, 128, 128, 0.85);
	border-radius: 35px;
	width: fit-content;
	margin: 20px;
	margin-left: 0px;
	box-shadow: 3px 3px 2px 1px rgb(70, 68, 68, 0.3);
	max-width: 80%;
}

/* Name des Raums */
h1#room {
	font-family: 'OwnFont';
	font-size: 30px;
	margin-top: 10px;
	margin-left: 15px;
}

/* Button Opacity beim hovern */
button {
	opacity: 60%;
}

button:hover {
	opacity: 100%;
}

/* Position Delete-Button */
button#delete {
	margin-left: 15px;
}


/* Änderungen für Select- und Textfeld des Dialogs zum hizufügen von Komponenten */
mat-select {
	outline: gray solid 1px;
	border-radius: 5px;
	padding-left: 4px;
}

::ng-deep .mat-select-value {
	color: black !important;
	font-family: 'OwnFont' !important;
}

::ng-deep .mat-select-placeholder {
	color: rgb(53, 52, 52);
}

::ng-deep .mat-form-field-wrapper {
	margin-bottom: -1.25em;
}

mat-form-field#name {
	height: 40px;
}
mat-form-field mat-label {
	color: rgb(73, 73, 73);
}

mat-form-field#deviceID {
	height: 40px;
	width: 75%;
}