#divRoom {
	padding: 25px;
	background: rgba(128, 128, 128, 0.85);
	border-radius: 20px;
	width: auto;
	margin: 20px;
	box-shadow: 3px 3px 2px 1px rgb(70, 68, 68, 0.3);
}

h1#room {
	font-family: 'OwnFont';
}

#buttonAdd {
	position: absolute;
	right: -5px;
	bottom: -5px;
	z-index: 10;
}

mat-select {
	outline: gray solid 1px;
	border-radius: 5px;
	padding-left: 4px;
}

::ng-deep .mat-select-value {
	color: black !important;
	font-family: 'OwnFont' !important;
}

::ng-deep .mat-select-placeholder {
	color: rgb(53, 52, 52);
}

::ng-deep .mat-form-field-wrapper {
	margin-bottom: -1.25em;
}

mat-form-field#name {
	height: 40px;
}

mat-form-field#deviceID {
	height: 40px;
	width: 75%;
}