/* You can add global styles to this file, and also import other style files */

html, body { 
	height: 100%;
	background-image: url(assets/Smarthome.jpg);
	background-size: cover;
	background-attachment: fixed;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
	font-family: 'OwnFont';
	src: url('./assets/TiltNeonFont.ttf');
}