#divComponents {
	position: relative;
	border-radius: 20px;
	background: lightgray;
	padding: 15px;
	margin: 10px;
	width: 200px;
	height: 100px;
	float: left;
}

#pName {
	overflow: hidden;
	white-space: nowrap;
}

#buttonDelete {
	position: absolute;
	right: -5px;
	bottom: -5px;
	opacity: .4;
}