<h1>Räume</h1>
<!-- Button zum Einnblenden der hinzufüge option -->
<button (click)="showhinzufuegen = !showhinzufuegen" mat-icon-button color="accent" aria-label="Example icon button with a menu icon" >
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="changebearbeiten()">Bearbeiten</button>

  <div class="Hinzufügen" *ngIf="showhinzufuegen">
    <p>Räume Hinzufügen:</p>
    <label for="name">Raumname: </label>
    <input type="text" #raumname>
    <button (click)="addComponent(raumname.value)">Hinzufügen</button>
</div>
<!-- Kontainer in dem die Generierten Objekte Angeizeigt werden -->
<div #container></div>