#divHouse {
	padding: 20px;
}

h1 {
	font-family: 'OwnFont';
	font-size: 45px;
}

.Hinzufügen{
	padding: 25px;
	background: rgba(128, 128, 128, 0.85);
	border-radius: 20px;
	width: 450px;
	margin-top: 20px;
	box-shadow: 3px 3px 2px 1px rgb(70, 68, 68, 0.3);
	font-family: 'OwnFont';
	font-size: 20px;
}

p{
	font-size: 30px;
	margin-bottom: 20px;
}

button {
	width: 70px;
	height: 70px;
	margin-right: 10px;
	opacity: 60%;
}

button:hover{
	opacity: 100%;
}

#HinzufügeFinal{
	width: auto;
	height: auto;
	margin-left: 17px;
}